
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

.flag  {
    
    height: 60px;
    width: 80px;
    border-radius: 350%;
      margin: -10px;
    padding-left: 25px;
    padding-top: 25px;
    background-image: url(Flag_of_Kyrgyzstan.svg.png);
    background-size: cover;
    -webkit-text-fill-color: rgb(22, 78, 231);
    float: left;
    margin-left: 20px;
    font-weight: bold;
   
    font-family: "Fascinate Inline", system-ui;
    font-weight: 900;
    font-style: normal;
   
    
    }
.flag:active {
  background: #e92f2f;
 transform: translate(-5px, -10pxpx);
}   


.bloc {
    background-color: rgb(54, 173, 134);
}

  body {
  background-color: #aad864;
  }
  form {
  width:400px;
  margin:auto;
  margin-top: 20px;
  }
  input{
    float: left;
  padding:4px 10px;
  border:0;
  font-size:16px;
  }
  .search {
  width: 75%;
  }
  .submit{
  width: 70px;
  background-color: #1c87c9;
  color:#ffffff;
  }
  #